lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
output.json
pids
logs
results

npm-debug.log
node_modules
.DS_Store
.env
COINGECKO.BTC.json
COINGECKO.CHIPS.json
COINGECKO.DASH.json
COINGECKO.DGB.json
COINGECKO.DOGE.json
COINGECKO.HUSH.json
COINGECKO.KMD.json
COINGECKO.LTC.json
COINGECKO.OOT.json
COINGECKO.QTUM.json
COINGECKO.RVN.json
COINGECKO.VRSC.json
COINGECKO.ZEC.json
